body {
	margin:2em 1em;
	background-color:#f3edd9;
}

.hidden {
	display:none;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

h1 {
	font-family:'hamburgerheavenregular';
	font-size:7em;
	display:block;
	color:darkred;
}

h4 {
	font-family:'oswald';
	text-transform:uppercase;
	letter-spacing:0.25em;
}

form {
	display:block;
	margin:2em 0px;
}

input {
	font-size:1.5em;
	padding:0.5em;
	font-family:'Oswald';
	border:2px solid slategray;
	border-radius:0.5em;
}

button {
	font-family:'Oswald';
	background-color:lightblue;
	padding:0.5em;
	font-size:1.5em;
	border-radius:0.5em;
	border:2px solid slategray;
}

#header-container {
	text-align:center;
}

.results {
	padding:2em 1em;
	border-radius: 1em;
	min-width: 20em;
	margin-left: auto;
	margin-right: auto;

}

.results::before {
	font-size:3em;
	font-family:'oswald';
	display: table-cell;
	text-align:center;
	letter-spacing:0.15em;
}

.results div:first-child.destination{
	margin-top:0.75em;
}

.results div:last-child hr {
	display:none;
}

#results-food::before {
	content: 'FOOD';
}

#results-food {
	background-color: lightsalmon;
}

#results-fun::before {
	content: 'FUN';
}

#results-fun {
	background-color: lightskyblue;
}

#results-hotel::before {
	content: 'SLEEP';
}

#results-hotel {
	background-color: #fbd28a;
}

.destination {

}

.destination-card p {
	margin:0px;
}

.card-image {
	display:inline-block;
	vertical-align:top;
}

.card-image img {
	background-color:lightgray;
	border-radius:0.75em;
	width:75px;
}

.card-info {
	display:inline-block;
}

.tip {
	margin-top:0.25em;
}

.title {
	font-size:1.25em;
	font-weight:bold;
	font-family:'Oswald';
}

.title a {
	color:#463d66;
}

.rating {
	font-size:1.25em;
	color:white;
	padding:0.25em;
	border-radius:0.25em;
	margin-left:0.25em;
	text-shadow: 1px 1px 1px slategray;
}

.category {
	font-style:italic;
	font-size:1.1em;
}


hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
}